@use '../variables' as *;
@use '../mixins' as *;

/*** CABECERA ***/
header {
    @include fixedPos(0, 0, 0, auto);
    background        : $color_oscuro;
    -webkit-box-shadow: 0px 5px 12px 5px rgba(0,0,0,0.25);
    box-shadow        : 0px 5px 12px 5px rgba(0,0,0,0.25);
    z-index           : 3;

    .header_content {
        position: relative;
        padding : 10px 30px;
        overflow: hidden;
        z-index : 1;

        &:after {
            content: '';
            @include absolutePos(-20px, -80px, auto, 0);
            width     : 230px;
            height    : 230px;
            background: $color_claro;
            @include rotar(-60deg);
            z-index   : 0;
        }

        .logo {
            display            : block;
            float              : left;
            position           : relative;
            background-image   : url('../img/logo.png');
            background-repeat  : no-repeat;
            background-position: center;
            background-size    : contain;
            width              : 153px;
            height             : 70px;
            z-index            : 1;
        }
    
        .info {
            position    : relative;
            float       : right;
            width       : calc(100% - 153px);
            padding-left: 60px;
            padding-top : 15px;
            z-index     : 1;
    
            .breadcrumbs {
                position           : relative;
                float              : left;
                padding-left       : 50px;
                background         : url('../img/ico_home.png') no-repeat;
                background-position: left 5px center;
                background-size    : 28px;
                z-index            : 1;
    
                a,
                span {
                    color          : $color_claro;
                    display        : inline-block;
                    vertical-align : middle;
                    margin-right   : 10px;
                    font-size      : 16px;
                    line-height    : 36px;
                    height         : 36px;
                    text-decoration: none;
    
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
    
            .right_side {
                position: relative;
                float   : right;
                z-index : 1;
    
                .search_icon {
                    position       : relative;
                    display        : inline-block;
                    vertical-align : middle;
                    margin-left    : 10px;
                    background     : url('../img/ico_search.png') center no-repeat;
                    background-size: contain;
                    width          : 36px;
                    height         : 36px;
                    @include transicion(250ms);
                    cursor         : pointer;

                    &.active {
                        background-image: url('../img/ico_search_r.png');
                    }
                }
    
                .clock_icon {
                    display            : inline-block;
                    vertical-align     : middle;
                    padding-right      : 55px;
                    text-align         : right;
                    background         : url('../img/ico_clock.png') no-repeat;
                    background-position: right 5px center;
                    background-size    : contain;
    
                    span {
                        display    : block;
                        color      : $color_claro;
                        font-size  : 14px;
                        line-height: 18px;
                        height     : 18px;
                    }
                }
            }
        }
    }
}