@use '../variables' as *;
@use '../mixins' as *;

/**** PIE ****/
footer {
    position        : relative;
    padding         : 10px 30px;
    background-color: $color_oscuro;
    z-index         : 1;

    .footer_links {
        position: relative;
        float   : left;
        z-index : 1;

        a {
            display        : inline-block;
            vertical-align : middle;
            font-size      : 16px;
            line-height    : 40px;
            margin         : 0 10px;
            color          : $color_claro;
            text-decoration: none;
            @include transicion(300ms);

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .cpy {
        float      : right;
        font-size  : 16px;
        line-height: 40px;
        color      : $color_claro;
    }
}