@use 'variables' as *;
@use 'mixins' as *;

@media (hover: hover) {

    nav.menu ul li a:hover {
        background-color: $color_oscuro;
        color           : $color_claro;
    }
    nav.menu ul li a:hover:after {
        @include Xtranslate(0);
        opacity: 1;
    }
    nav.menu .social a:hover {
        color: $color_principal;
    }
    .grid .grid_item:hover .item_content .item_text:before {
        width: 100%;
    }
    .grid .grid_item .item_content .item_text .title:hover {
        color: $color_principal;
    }
    .grid .grid_item .item_content .item_pic:hover:after {
        @include scalar(1);
        opacity: 1;
    }

    .textpic_module .text .title:hover {
        color: $color_principal;
    }
    .textpic_module .pic:hover:after {
        top: 50%;
    }
    .textpic_module .pic:hover:before {
        bottom: 50%;
    }

    .fullwidth:hover .fullwidth_content .text {
        padding-bottom: 60px;
    }

    footer .footer_links a:hover {
        color: $color_principal;
    }

}