@use 'variables' as *;
@use 'mixins' as *;

@media (hover: hover) {

    header .header_content .info .right_side .search_icon:hover {
        background-image: url('../img/ico_search_r.png');
    }

    header .header_content .info .menu ul li a:hover {
        background-color: $color_oscuro;
        color           : $gris_claro;
    }
    .grid .grid_item:hover .item_content .item_text:before {
        width: 100%;
    }
    .grid .grid_item .item_content .item_text .title:hover {
        color: $color_principal;
    }
    .grid .grid_item .item_content .item_pic:hover:after {
        @include scalar(1);
        opacity: 1;
    }

    .textpic_module .text .title:hover {
        color: $color_principal;
    }
    .textpic_module .pic:hover:after {
        height: 50%;
    }
    .textpic_module.reverse .pic:hover:after {
        height: 50%;
    }
    .textpic_module .pic:hover:before {
        height: 50%;
    }

    .fullwidth:hover .fullwidth_content .text {
        padding-bottom: 60px;
    }

    footer .footer_links a:hover {
        color: $color_principal;
    }

    .btn_top:hover {
        border-color: $color_claro;
        color       : $color_claro;
    }

    .search .close:hover {
        background-color: $color_claro;
        color           : $color_principal;
    }
    .search .field_box .submit_search:hover {
        opacity: 1;
    }

    .new_details .new_header .share a:hover {
        color: $color_principal;
    }
    .new_details .new_content .gallery .item_gallery:hover {
        @include Ytranslate(-10px);
    }

    .newsletter .newsletter_content .btn_newsletter:hover {
        background-color: $color_oscuro;
    }

    .fixed_err .close:hover {
        border-color: $color_principal;
        color       : $color_principal;
    }
    .fixed_err .fixed_err_content .btn:hover {
        background-color: $color_oscuro;
    }

    footer .left_foot .social a:hover {
        color: $color_claro;
    }
    footer .left_foot .social a:hover:after {
        @include scalar(0);
    }

    .titulo_back .back:hover {
        background-color: $color_oscuro;
    }
    .new_details .new_header .back:hover {
        color: $color_principal;
    }

    .paginator .btn_page:hover {
        background-color: $color_claro;
        color           : $color_principal;
    }

}